html {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, sans-serif;
  max-width: 1400px;
  min-height: 100vh;
  margin: auto;
  padding: 1rem 1rem 0rem;
  display: flex;
  flex-direction: column;
  line-height: 1.4;
}

h3 {
  color: rgba(0, 0, 0, 0.492);
}

ul {
  list-style-type: none;
}

a {
  color: black;
  text-decoration: none;
}

img {
  opacity: 90%;
}

.bold-text {
  font-weight: bold;
}

.header-nav-container {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  margin-bottom: 6rem;
}

.header-nav-container ul {
  list-style-type: none;
  display: flex;
  gap: 1rem;
}

.highlight {
  padding: 0.4rem;
  transition: background-color 0.3s ease;
}

.highlight:hover {
  background-color: rgb(0, 0, 0);
  color: white;
}

.highlight:hover a {
  color: white;
}

.blog-container {
  max-width: 70vw;
  margin: auto auto;
}

.blog-container ul {
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
}

.blog-container li {
  border-top: 3px solid black;
  display: flex;
  justify-content: space-between;
  line-height: 1;
}

.blog-container p {
  text-align: right;
  font-size: 1rem;
}

.blog-post {
  margin-bottom: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.collage {
  margin-top: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.collage img {
  max-width: 30vw;
}

#me {
  margin-left: auto;
  margin-right: auto;
}

.contact {
  text-align: center;
}

footer {
  padding: 0.5rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  background-color: rgb(0, 0, 0);
}

footer p {
  font-size: 0.8rem;
  color: white;
}

.social-container {
  display: flex;
  gap: 1rem;
}

.social {
  color: white;
}
